.navbar-brand{
    text-decoration: underline rgb(207, 191, 7);
}

body{
    background-color: rgb(255, 255, 255);
}
footer{
    background-color: black;
    padding: 0;
}

h1{
    color: rgb(255, 234, 0);
    padding-bottom: 2%;
}

h2{
    color: black;
    font-size: 150%;
    
}

p{
    color: black;
    font-size: 100%;
}

section{
    padding-bottom: 5%;
    margin-left: 16%;
    display:flex;
}

a{
    color: orange;
}

li{
    list-style-type: none;
}


.componentes-pc{
    margin-left: 20px;
}

@media (max-width: 768px){
    h2{
        font-size: 110%;
    }
    p{
        font-size: 80%
    }
}
@media (max-width: 1024px){
    h2{
        font-size: 180%;
    }
    p{
        font-size: 120%
    }
}